## ignore papers and images ##
*.pdf
*.docx
*.png
## ignore simulation output and error files
*.e
*.o
## ignore zipped files
*.zip
## ignore Zeo++ output files
*.res
*.chan
*.sa
# ignore a specific directory
./benchmarking_sims/simulations/*.jld2
