## ignore papers and images ##
*.pdf
*.docx
*.png
## ignore simulation output and error files
*.e
*.o
## ignore zipped files
*.zip
# ignore a specific directory
./benchmarking_sims/simulations/*.jld2
